CompileFlags:
  Add:
    - -Wno-unknown-attributes
    - -Wno-attribute-ignored
    - -fopenmp
    - -I/opt/homebrew/opt/libomp/include
    - -I/opt/homebrew/opt/llvm/include
  Compiler: /opt/homebrew/opt/llvm/bin/clang++
  CompilationDatabase: build
